body{
    font-family: 'Poppins', sans-serif;
    margin: 0%;
}
h1{
    font-size: 50px;
}
.orange-color{
    color: orange;
}
.flex-container{
    display: flex;
    margin-bottom: 80px;
}
.first-container{
    width: 50%;
    padding: 4%;
}
.first-container img{
    width: 80%;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(#FF6548, #FF9B76);
    padding: 10px 40px;
    color: white;
    border-radius: 5px;
    font-weight: 700;
}
.top-banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
.dream-big{
    display: flex;
    padding-right: 150px;
    text-align: justify;
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.second-container{
    width: 50%;
}
.second-container img{
    width: 80%;
}
.box-shadow{
    box-shadow: 10px 10px 25px gray;
    width: 40%;
    margin-left: 4%;
    margin-right: 4%;
    padding-left: 30px;
}
.third-container{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: bottom 7% right 101%;
}
.heading{
    margin-top: 0;
}
#full-stack-experience{
    border-left: 7px solid;
    border-image: linear-gradient(#FFA07A, #FF6448) 1; 
}
#web-experience{
    border-left: 7px solid;
    border-image: linear-gradient(#0022FF, #00FEFF) 1;
}
footer p{
    text-align: center;
    margin-top: 100px;
    color: gray;
    font-size: 20px;
}